{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'reviewUpdate.css' %}">
    <title>review 수정</title>
</head>

<body>
    <div id="top-bar">
        <span><a href="/">my Movie reviews</a></span>
    </div>
    <div id="line"></div>
    <h2>리뷰 수정하기</h2>

    <div id="container">
        <div id="content">
            <form action="/{{review.id}}/update" method="post">
                {% csrf_token %}
                <div class="class element">
                    <span>제목 : </span>
                    <input type="text" name="title" required value="{{review.title}}"><br>
                </div>
                <div class="releaseDate element">
                    <span>개봉 일자 : </span>
                    <input type="date" name="releaseDate" required value="{{review.releaseDate|date:'Y-m-d'}}"><br>
                </div>
                <div class="director element">
                    <span>감독 : </span>
                    <input type="text" name="director" required value="{{review.director}}"><br>
                </div>
                <div class="actors element">
                    <span>주연 : </span>
                    <input type="text" name="actors" required value="{{review.actors}}"><br>
                </div>
                <div class="genre element">
                    <span>장르 : </span>
                    <select name="genre" required value="{{review.genre}}">
                        {% for genre_db, genre_value in genreChoices %}
                        {% if review.genre == genre_db %}
                        <option value="{{genre_db}}" selected>{{genre_value}}</option>
                        {% endif %}
                        <option value="{{genre_db}}">{{genre_value}}</option>
                        {% endfor %}
                    </select><br>
                </div>
                <div class="rating element">
                    <span>별점 : </span>
                    <input type="number" step="0.5" name="rating" required value="{{review.rating}}"><br>
                </div>
                <div class="time element">
                    <span>러닝타임 : </span>
                    <input type="number" name="time" required value="{{review.time}}"><br>
                </div>
                <p>리뷰 내용 : </p><textarea name="content" cols="100" rows="10" required>{{review.content}}</textarea><br>
                <div id="submit">
                    <input type="submit" value="저장">
                </div>
            </form>
        </div>
    </div>
</body>

</html>