<h1><a href="/reviews">my Movie reviews</a></h1>
<!-- 보여야할 내용 : 영화 제목, 개봉 년도, 감독, 주연, 장르, 별점, 러닝타임, 리뷰 내용 -->

<h2>{{review.title}}</h2>
<p>개봉 일자 : {{review.releaseDate}}</p>
<p>감독 : {{review.director}}</p>
<p>주연 : {{review.actors}}</p>
<p>장르 : {{review.genre}}</p>
<p>별점 : {{review.rating}}</p>
<p>러닝타임 : {{review.time}}</p>
<p>{{review.content}}</p>

<a href="/reviews/{{review.id}}/update">수정하기</a>

<form action="/reviews/{{review.id}}/delete" method="post">
    {% csrf_token %}
    <input type="submit" value="삭제하기">
</form>