<h1><a href="/">my Movie reviews</a></h1>
<br>
<h2>리뷰 수정하기</h2>
<form action="/{{review.id}}/update" method="post">
    {% csrf_token %}
    <p>제목 : </p><input type="text" name="title" required value="{{review.title}}"><br>
    <p>개봉 일자 : </p><input type="date" name="releaseDate" required value="{{review.releaseDate|date:'Y-m-d'}}"><br>
    <p>감독 : </p><input type="text" name="director" required value="{{review.director}}"><br>
    <p>주연 : </p><input type="text" name="actors" required value="{{review.actors}}"><br>
    <p>장르 : </p>
    <select name="genre" required value="{{review.genre}}">
        {% for genre_db, genre_value in genreChoices %}
            {% if review.genre == genre_db %}
                <option value="{{genre_db}}" selected>{{genre_value}}</option>
            {% endif %}
            <option value="{{genre_db}}">{{genre_value}}</option>
        {% endfor %}
    </select><br>
    <p>별점 : </p><input type="number" step="0.5" name="rating" required value="{{review.rating}}"><br>
    <p>러닝타임 : </p><input type="number" name="time" required value="{{review.time}}"><br>
    <p>리뷰 내용 : </p><textarea name="content" cols="30" rows="10" required>{{review.content}}</textarea><br>

    <div>
        <input type="submit" value="저장">
    </div>
</form>