body{
    margin-left : 50px;
    margin-right: 50px;
}

#top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top-bar > span {
    font-size: 50px;
    font-weight: bold;
}

#top-bar > a{
    text-decoration: none;
    color: black;
}

#line{
    margin-top: 10px;
    background-color: black;
    height: 1px;
}

#container{
    display: flex;
    gap: 30px;
    margin-top: 25px;
    flex-wrap: wrap;
}

#container > div{
    background-color: rgb(231, 235, 240);
    padding: 18px;
    width: 200px;
    border-radius: 10px;
}

#container > div > h3 > a{
    text-decoration: none;
    color: black;
}

#container > div > h3{
    font-size: 25px;
}

#order{
    display: flex;
    justify-content: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

#container > div > div{
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.element{
    font-size: 13px;
    color: gray;
}

.content{
    font-size: 15px;
    font-weight: bolder;
}